---
layout: default
---

<div id="site">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="position:absolute; z-index:1;">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-2x fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="http://brittanychiang.com/">
                        <img src="img/logo-transparent-white-30pt.png" />Brittany Chiang</a>
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a class="page-scroll" href="#page-top"></a>
                        </li>
                        <li><a class="page-scroll" href="#about">position_info</a></li>
                        <li><a class="page-scroll" href="#services">Passion</a></li>
                        <li><a class="page-scroll" href="#experience">Experience</a></li>
                        <li><a class="page-scroll" href="#portfolio">Work</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
  
  {% include switch.html %}
  {% include intro.html %}
  {% include background.html %}
  {% include skills.html %}
  {% include experience.html %}
  {% include featured-projects.html %}
  {% include other-projects.html %}
  {% include footer.html %}
  {% include top-button.html %}
</div>

