---
layout: default
---

<div id="site">
    <div id="nav" style="position:fixed; z-index:1;">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="background-color:#FFFFFF; opacity: 1.0;">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-2x fa-bars"></i>
                        </button>
                        <a class="navbar-brand page-scroll" href="http://brittanychiang.com/">
                            ISHA AGRAWAL</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-main-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden">
                                <a class="page-scroll" href="#page-top"></a>
                            </li>
                            <li><a class="page-scroll" href="#about">ABOUT</a></li>
                            <li><a class="page-scroll" href="#experience">EXPERIENCE</a></li>
                            <li><a class="page-scroll" href="#publications">PUBLICATIONS</a></li>
                            <li><a class="page-scroll" href="#projects">PROJECTS</a></li>
                            <li><a class="page-scroll" href="#hobbies">HOBBIES</a></li>
                            <li><a class="page-scroll" href="#contact">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    </div>

    <div id="content">
    <!-- {% include switch.html %} -->
    {% include intro.html %}
    {% include background.html %}
    {% include skills.html %}
    {% include experience.html %}
    {% include featured-projects.html %}
    {% include other-projects.html %}
    {% include footer.html %}
    {% include top-button.html %}
    </div>
</div>

