<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently in my senior year doing my undergraduate in <strong>B. Tech.</strong> from 
      <a class="underline-link" href="https://www.iiitdmj.ac.in" target="_blank">IIITDM Jabalpur</a>. I have been an intern for many companies and start-ups for different positions, enchancing my skills and gaining my skills.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between code and applications &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing board games, reading a book, binge-watching or crossing off another item on my bucket list.
    </p>

    {% include employment-status.html %}
  </div>
</section>
