<section class="section background" id="background">
  <div class="section__title">Background</div>
  <div class="section__content">

    <p>
      I am a computer science professional,
      specialized in the interdisciplinary applications of Artificial Intelligence.
       I enjoy integrating methods from diverse domains to solve complex problems.
    </p>

    <p>
      I excel at working independently and driving projects from defining problem statements to delivering impactful solutions.
       This involves domain understanding, data visualization, developing prediction models, and investigating causality to identify improvement opportunities. 
       I value working and sharing knowledge in a collaborative environment with people from different expertise.
    </p>

    <p>
      Currently, I am actively seeking full-time opportunities in data science, 
      particularly in roles which involve identifying business opportunities and utilizing machine learning and statistics to drive the organization forward. 
      If you are looking for a dedicated and driven data scientist with a passion for problem-solving and a strong foundation in AI, I would be thrilled to connect with you.
    </p>

    {% include employment-status.html %}
  </div>
</section>
