<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Hey there!//
      Thank you for taking an interest in my profile.//
      I am a Research Engineer at <a href="https://www.splinkns.com/">Splink</a>, a Tokyo based company, where I am working on the development of dementia detection techniques using Machine Learning and statistics.
      I have also been an intern at several laboratories like Indian Institute of Technology (IIT), Kanpur, India, IIT, Bombay, India, and École de technologie supérieure (ÉTS) Montreal, Canada.

    <p>
      I especially enjoy conducting research in the diverse applications of Machine Learning in varied fields like healthcare, supply chain, or environmental sciences.
    </p>

    <p>
      When idle, I spend most of my time either reading (mostly fiction) or going out for meals. So, any book or restaurant suggestions are always welcomed! :)
    </p>
    
    <p>
      Have a great day!
    </p>

    {% include employment-status.html %}
  </div>
</section>
