<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/arnav-deep/MovieRecommendation" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/movie_rec.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/arnav-deep/MovieRecommendation" target="_blank">Movie Recommendation</a>
        </div>
        <p>A topic modelling Suggestion model that recommedns movies based on their plots. Dataset of over 35,000 movie plots have been used. Working of the Python script can be seen <a class="underline-link" href="https://drive.google.com/open?id=1zKI9-WiZsM4FT4043dBx4PGDZ4NXI4As">here</a>.</p>
      </figcaption>
    </div>
    
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/blistabloc/overwatch.png" style="height: 24vw; width: auto" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/arnav-deep/Overwatch" target="_blank">OverWatch</a>
        </div>
        <p>A wearable watch for children to provide security and health details via an Android Application. The watch tracks the child's location, temperature and pulse rate.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="" target="_blank">
          <div>
            <img src="{{site.baseurl}}/img/featured/leopard_screenshot.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/StaySafe.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/arnav-deep/StaySafe" target="_blank">StaySafe</a>
        </div>
        <p>Develop an IoT based system to detect leopards using Custom Object Detection from live video feed and an Android app for alerting the authorities.</p>
      </figcaption>
    </div>
  </div>
</section>
