<section class="section featured-projects">
   <div class="section__title">Featured Projects</div>
   <div class="section__content">
     <div class="project interventions">
      <figure class="project__pic">
        <a href="https://repository.tudelft.nl/islandora/object/uuid:ad1c6a14-d8a0-4973-9eae-fac46b0bdf9c" target="_blank">
          <img src="{{site.baseurl}}/img/Projects/kmeans_colorectal_cancer.png" style="height: 24vw; width: auto" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://repository.tudelft.nl/islandora/object/uuid:ad1c6a14-d8a0-4973-9eae-fac46b0bdf9c" target="_blank"><h3 class="arrow-link">Graduate thesis</h3></a>
        </div>
        <p> A self-supervised language embedding model to generate numerical representations of DNA sequences and microbial communities. Cosine similarity to find biomarkers closely associated with the diseases. Other steps include data cleaning and cluster analysis to detech batch effects.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="" target="_blank">
          <div>
            <img src="{{site.baseurl}}/img/featured/leopard_screenshot.png" style="height: 24vw; width: auto" alt="">
          </div>
          <div>
            <img src="{{site.baseurl}}/img/featured/StaySafe.png" style="height: 24vw; width: auto" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/arnav-deep/StaySafe" target="_blank"><h3 class="arrow-link">StaySafe</h3></a>
        </div>
        <p>Develop an IoT based system to detect leopards using Custom Object Detection from live video feed and an Android app for alerting the authorities.</p>
      </figcaption>
    </div>
   </div>
 </section>
