<section class="section featured-projects">
   <div class="section__title">Featured Projects</div>
   <div class="section__content">
     <div class="project interventions">
      <figure class="project__pic">
        <a href="https://repository.tudelft.nl/islandora/object/uuid:ad1c6a14-d8a0-4973-9eae-fac46b0bdf9c" target="_blank">
          <img src="{{site.baseurl}}/img/Projects/kmeans_colorectal_cancer.png" style="height: 20vw; width: auto" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://repository.tudelft.nl/islandora/object/uuid:ad1c6a14-d8a0-4973-9eae-fac46b0bdf9c" target="_blank"><h3 class="arrow-link">Graduate thesis</h3></a>
        </div>
        <p> Proposed a <b>language model</b> to embed DNA sequences and microbial communities. Used cosine similarity to find biomarkers closely associated with the diseases. Other steps include data cleaning and cluster analysis to detect batch effects.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://link.springer.com/article/10.1007/s11042-020-09496-z#Sec14" target="_blank">
          <div>
            <img src="{{site.baseurl}}/img/Projects/CSIDNet.jpg" style="height: 16vw; width: auto" alt="">
          </div>
          <!-- <div>
            <img src="{{site.baseurl}}/img/featured/StaySafe.png" style="height: 24vw; width: auto" alt="">
          </div> -->
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://scholar.google.com/citations?user=PxNupHkAAAAJ&hl=en&oi=ao" target="_blank"><h3 class="arrow-link">Undergraduate thesis</h3></a>
        </div>
        <p>Developed equations, <a href="https://link.springer.com/chapter/10.1007/978-3-030-67187-7_16">algorithms</a>, <a href="https://link.springer.com/article/10.1007/s11042-020-09496-z">convolutional neural network</a> architecture to denoise images based on image analysis. Outperformed satte-of-the-art in runtime and PSNR.</p>
      </figcaption>
    </div>


    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/isha-git/Stock-Data-Prediction" target="_blank">
          <div>
            <img src="{{site.baseurl}}/img/Projects/Raymond_performance.png" style="height: 18vw; width: auto" alt="">
          </div>
          <!-- <div>
            <img src="{{site.baseurl}}/img/Projects/cancer_vs_healthy.png" style="height: 16vw; width: auto" alt="">
          </div> -->
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/isha-git/Stock-Data-Prediction" target="_blank"><h3 class="arrow-link">Stock forecasting</h3></a>
        </div>
        <p>Trained a stacked LSTM architecture on three years of Fortune 500 data. Predicted HIGH, LOW, OPEN, CLOSE, and WAP indices of three unseen companies with a Mean Average Error of ~2.88.</p>

      </figcaption>
    </div>



    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/isha-git/Cafeteria-Management" target="_blank">
          <div>
            <img src="{{site.baseurl}}/img/Projects/cafeteria.png" style="height: 13vw; width: auto" alt="">
          </div>
          <!-- <div>
            <img src="{{site.baseurl}}/img/Projects/cafeteria.png" style="height: 16vw; width: auto" alt="">
          </div> -->
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/isha-git/Cafeteria-Management" target="_blank"><h3 class="arrow-link">Cafeteria management system</h3></a>
        </div>
        <p>Developed a database to digitize ordering and billing system in all cafeterias in the Institute. Used SQL, HTML, CSS, PHP, and SSH keys.</p>
      </figcaption>
    </div>


   </div>
 </section>
