<header class="intro">
  <div style="content: ""; clear: both; display: table">
    <h1 class="intro__hello" style="float: left; width: 60%;  padding: 2em">
      Hello!
      <p>
        I am
        <span class="name">Isha</span>, a Machine Learning enthusiast interested in interdisciplinary research.
      </p>
    </h1>
    <h1 style="position: relative; float: left; width: 40%; min-width: 40%; padding: 1em" alt="Isha's Profile Photo">
      <img src="{{site.baseurl}}/img/portfolio_photo_resized.jpg">
    </h1>
  </div>


  <h3 class="intro__contact">
    <span>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://drive.google.com/file/d/1u4zx51ZEe-Z3atVGyw12JT4wm7e4Zo9q/view?usp=sharing" target="_blank" class="arrow-link">View My Resume</a>
    </span>
  </h3>
  
  <!-- <h3 class="intro__contact">
    &nbsp
    <span class="arrow-link"> Get in touch</span>
    &nbsp
    <span>
      <a href="mailto:ishaa3098@gmail.com" target="_blank" class="highlight-link">ishaa3098@gmail.com</a>
    </span>
  </h3> -->
</header>
