<header class="intro">
  <div style="content: ""; clear: both; display: table">
    <h1 class="intro__hello" style="float: left; width: 60%; padding: 0.2em">
      Hello!
      <p>
        I'm
        <span class="name">Arnav Deep</span>, a software engineer and a data scientist focused on building solutions for billions.
      </p>
    </h1>
    <h1 style="position: relative; float: left; width: 40%; min-width: 8em; padding: 2em" alt="Arnav Deep's Profile Photo">
      <img src="{{site.baseurl}}/img/profile.jpg">
    </h1>
  </div>
    
  <h3 class="intro__contact">
    <span class="arrow-link">Get in touch</span>
    &nbsp
    <span>
      <a href="mailto:arnavd4@gmail.com" target="_blank" class="highlight-link">arnavd4@gmail.com</a>
    </span>
  </h3>
</header>
