<section class="section skills">
  <div class="section__title" style="margin-top: -300px;">Skills</div>
  <div class="section__content" style="margin-top: -300px;">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Concepts</div>
        <ul>
          {% for framework in site.data.skills.skills %}
          <li class="skillz__category__item">{{framework.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <!-- <div class="skillz__category">
        <div class="skillz__category__label">Mathematics</div>
        <ul>
          {% for programming in site.data.skills.mathematics %}
          <li class="skillz__category__item">{{programming.item}}</li>
          {% endfor %}
        </ul>
      </div> -->
      <div class="skillz__category">
        <div class="skillz__category__label">Technical Skills</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
  </div>
</section>
